.videoCard{
    cursor: pointer;
    position: relative;
}
.thumbnail{
    width: 100%;
    height: 225px;
    background: black;
    border-radius: 10px;
}
.videoTitle{
    margin: 0px;
    word-break: break-word;
}
[data-navigate]{
    video:hover,
    h4:hover{
        cursor: pointer;
    }
}


