
.videoCard{
    cursor: pointer;
}
.videoCard[data-pointer="none"]{
    pointer-events: none;
}
.thumbnail{
    width: 100%;
    height: 225px;
    background: black;
    border-radius: 10px;
}

.videoInfo{
    display: flex;
}
.videoText{
    display: flex;
    flex-direction: column;
    margin-left:10px;
    flex-grow: 1;
    min-width: 0;

}
.videoText h4{
    overflow-wrap: break-word;
    margin: 0px;
}
