.videoCard{
    cursor: pointer;
    position: relative;
    h4{
        word-break: break-word;
    }
}
.thumbnail{
    width: 100%;
    height: 225px;
    background: black;
    border-radius: 10px;
}




