.form { 
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: auto;
    width: 300px;
}
.form input{
    margin-bottom:10px;
}
.form label{
    margin-top:10px
}
.button{
    width: max-content;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto
}
.error{
    color: rgb(246, 118, 118);
    font-size: .75rem
}
.password{
    display: flex;
    align-items: center;
    gap: 5px;
    height: 30px;
}
.password img {
    height: 20px;
    width: 25px;
    cursor: pointer;
}
.password input{
    flex-grow: 1;
    margin-top: auto;
    margin-bottom: auto
}