.form { 
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: auto;
    width: 300px;
}
.form input{
    margin-bottom:10px;
}
.form label{
    margin-top:10px
}
.button{
    width: max-content;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto
}
.error{
    color: red;
    font-size: .8rem
}