.likeDislike {
    width: max-content;
    height: max-content;
    right: 0px;
    display: flex;
    background: black;
    align-items: center;
    border-radius: 30px;
    border: 1px solid;
}
.likeDislike div{
    padding: 6px 12px;
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    transition: all 0.2s;
}
.likeDislike div[data-selected="true"]{
    background-color: gray;
    border-radius: 30px;
}
[data-small]{
    div{
        padding: 6px;
    }
}
