.channelContainer{
    padding-top: var(--padding-top);
    width: 90%;
    margin: auto;
    max-width: 1800px;
}
.channelMenu{
    display: flex;
    width: max-content;
    list-style-type: none;
    font-size: 0.85rem;
    padding: 4px;
    gap: 5px;
    border-radius: 25px;;
}
.channelMenu a{
    padding: 5px 15px;
    border-radius: 25px;
    transition: background .20s ease;
}

a[data-selected="true"]{
    background-color: black
}

.viewsContainer{
    display: grid;
    grid-template-columns: repeat(5,300px);
    gap: 15px;
}
.viewsContainer[data-selected="false"]{
    display: none;
}
.followers{
    cursor:pointer
}
.followers:hover{
    text-decoration: underline;
    color: lightgrey
}

@media (width <= 1300px){
    .viewsContainer{
        display: grid;
        grid-template-columns: 300px 300px 300px;
    }
}
@media (width <= 1000px){
    .viewsContainer{
        display: grid;
        grid-template-columns: 300px 300px;
    }
}
@media (width <= 650px){
    .viewsContainer{
        display: grid;
        grid-template-columns: 300px;
    }
}