.nav{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid;
}
.userProfile{
    border: 1px solid;
    display: flex;
}
.userProfile p{
    display: flex;
    align-items: center;
}
.imageProfile{
    width: 40px;
    height: 40px;
}

h1 {
    margin: 0px;
    padding: 0px;
    border: 1px solid;
}
.button{
    border: 1px solid;
    margin: 0px;
}
h1:hover{
    cursor: pointer
}

.profileSocket{
    display: flex;
}
.profileSocket:hover{
    cursor: pointer;
    background-color: lightcoral;
    border-radius: 5px;
}
.notificationsBell{
    border-radius: 10px;
}
.notificationsBell img{
    height: 30px;
    width: 'auto';
    padding: 5px;
}
.notificationsBell:hover{
    background-color: rgba(251, 251, 251, 0.507);
    cursor: pointer
}
.notificationsBell::after{
    content: '';
    position: absolute;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: -17px;
    width: 10px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    pointer-events: none;
}
.listOfNotifications{
    margin: 0px;
    list-style-type: none;
    padding: 10px;
    position: fixed;
    border-radius: 15px;
    background-color:rgb(52, 52, 52);
    z-index: 1
}
.listOfNotifications li{
    padding: 10px;
    z-index: 10
}
.listOfNotifications li:hover{
    background-color: rgba(251, 251, 251, 0.507);
    cursor: pointer
}

@media (width <= 768px){
    .title{
        font-size: 2.5rem;
    }

    .searchBar button, .searchBar input{
        display: none
    }
    
}