.nav{
    position: fixed;
    width: 100%;
    background-color: black;
    display: flex;
}
.title{
    font-size: 2.1rem;
}
.title:hover{
    cursor: pointer;
}
.navButtonsContainer{
    display: flex;
    flex-grow: 1;
    justify-content: end;
    align-items: center;
    padding-right: 10px;
}
.navButtonsContainer *, .title {
    margin: 4px;
}
.searchBar{
    display: flex;
    align-items:center;
}
.searchButton{
    background-color:gray;
    font-weight: bold;
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    height: 31px;
    cursor: pointer;
}
.searchBar input{
    padding: 7px;
    border: 1px solid gray;
    border-left: 0px;
    background-color: black;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-left: 0px;
}
.button{
    padding: 8px;
    cursor: pointer;
    color: white;
}
.button[name="upload"]{
    border: 1px solid gray;
    border-radius: 5px;
    margin-right: 10px;
}
.button:hover{
    background-color: gray;
    border-radius: 5px;
}
.notificationsBell{
    width: 23px;
    height: 23px;
    padding: 8px;
    cursor: pointer;
}
.notificationsBell:hover{
    background-color: gray;
    border-radius: 50%;
}
.notificationsBell::after{
    content: '';
    position: absolute;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: -17px;
    width: 10px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    pointer-events: none;
}
.listOfNotifications{
    margin: 0px;
    list-style-type: none;
    padding: 10px;
    position: fixed;
    border-radius: 15px;
    background-color:rgb(52, 52, 52);
    z-index: 1
}
.listOfNotifications li{
    padding: 10px;
    z-index: 10
}
.listOfNotifications li:hover{
    background-color: rgba(251, 251, 251, 0.507);
    cursor: pointer
}
.imageProfile{
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.userProfileButtons{
    position: absolute;
    margin: 0px;
    margin-top: 190px;
    display: flex;
    flex-direction: column;
    padding: 0px;
    list-style-type: none;
    background-color: black;
    border: 1px solid;
    border-radius: 10px;
}
.userProfileButtons[data-display="none"]{
    display: none
}
.button[name="profile"]{
    margin: 0px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px;
    border-radius: 10px 10px 0px 0px;
}
.button[name="profile"] img, .button[name="logout"] {
    margin: 0px;
}
.button[name="logout"]{
    padding: 12px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}
.button[name="logout"]:hover{
   background-color: gray;
   color: white;
   border-radius: 0px 0px 10px 10px;
}
img[name="logout"]{
    width: 25px;
}

@media (width <= 768px){
   
    
}