.nav{
    position: fixed;
    width: 100%;
    background: black;
    display: flex;
    z-index: 1;
}
.title{
    display: flex;
    align-items: center;
    font-size: 2.1rem;
    margin: 0px;
    line-height: 2.1rem;
}
.title:hover{
    cursor: pointer;
}
.navButtonsContainer{
    display: flex;
    flex-grow: 1;
    justify-content: end;
    align-items: center;
    padding-right: 10px;
    gap:15px;
}
.searchBar{
    display: flex;
    align-items:center;
}
.searchButton{
    background-color:gray;
    font-weight: bold;
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    height: 31px;
    cursor: pointer;
    z-index: 50;
    pointer-events: auto
}
.searchBar input{
    padding: 7px;
    border: 1px solid gray;
    border-left: 0px;
    background-color: black;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-left: 0px;
}
.upload{
    border: 1px solid;
    border-radius: 5px;
    padding: 3px
}
.upload:hover{
    background-color: gray;
    border-radius: 5px;
    cursor: pointer;
}
/*Notification Bell*/
.notificationsBell{
    width: 23px;
    height: 23px;
    padding: 8px;
    cursor: pointer;
}
.notificationsBell:hover{
    background-color: gray;
    border-radius: 50%;
}

/*Profile Controls*/
.imageProfile{
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.userProfileButtons{
    position: absolute;
    display: block;
    margin: 0px;
    margin-top: 198px;
    padding: 0px;
    list-style-type: none;
    background-color: black;
    border: 1px solid;
    border-radius: 10px;
}
.userProfileButtons[data-display="none"], .floatingMenu[data-display="none"]{
    display: none
}
.button[name="profile"]{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px;
    border-radius: 10px;
}

.button[name="logout"]{
    padding: 12px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}
.button[name="logout"]:hover{
   background-color: gray;
   color: white;
}
.imageProfile[name="imgProfileLink"]{
    margin: 0px;
}

.floatMenu{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: max-content;
    list-style-type: none;
    background-color: black;
    border: 1px solid;
    border-radius: 10px;
    z-index: 2;
    right: 0px;
    padding: 0px;
    margin-top: 8px;
    max-width: 400px;
    max-height: 350px;
    overflow: hidden;
    overflow-y: auto;
}
.floatMenu li{
    margin: 0px;
    padding: 5px 25px;
    text-decoration: none;

}

.floatMenu li:hover{
    color: azure;
    cursor: pointer;
    background-color:gray;
}

img[name="logout"]{
    width: 25px;
}

@media (width <= 768px){
   
    
}