.formBody fieldset{ 
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    border-radius: 10px;
}
.formContainer{
    padding-top: var(--padding-top);
    width: 400px;
    margin: auto;
}
.formBody button{
    width: max-content;
    margin-left: 50%;
    transform: translate(-50%);
}
